.fb-add-photo {
	width: 500px;
	background-color: #dae2e7;
	border-radius: 3px;
	padding: 30px 20px 40px;
	text-align: center;
	display: none;

	&__attach {
		overflow: hidden;
		margin-top: 30px;
	}

	&__and {
		line-height: 55px;
		font-size: 18px;
		color: #545d6e;
	}

	&__link-add {
		border-bottom: 1px dashed #1e947a;
		color: #1e947a;
		font-size: 18px;
		text-decoration: none;

		&:hover {
			border-color: transparent;
		}
	}
}