.header {
	width: 100%;
	background-color: #323a45;

	&__user-block {
		line-height: 118px;
		vertical-align: top;
		display: inline-block;
	}

	&__top {
		height: 124px;

		&__btn-login {
			color: #f2f2f2;
			text-decoration: none;
			padding: 0 2px 3px 0;
			border-bottom: 1px dashed #f2f2f2;
			margin: 0 25px 0 31px;
			position: relative;

			&:hover {
				border-bottom: 1px dashed transparent;
				opacity: 0.7;
				.transition(all 0.3s ease);
			}

			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%-25px;
				left: -31px;
				.size(16px);
				background: url(../img/icons/login@2.png) no-repeat;
				background-size: cover;
			}

			&:after {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%-41px;
				left: -15px;
				.size(16px);
			}
		}
		
		&__btn-profile {
			text-decoration: none;
			vertical-align: top;
			color: #d3d4d7;
			margin: 0 25px 0 0;

			&:hover span {
				text-decoration: inherit;
			}

			&__nic {
				.text-overflow;
				display: inline-block;
				max-width: 250px;
				text-decoration: underline;
				vertical-align: middle;
			}

			&__img {
				width: 100%;
				color: #d3d4d7;
				display: block;
				line-height: 0;

				&__trim{
					width: 43px;
					height: 43px;
					overflow: hidden;
					display: inline-block;
					vertical-align: middle;
					margin-right: 12px;
				}
			}

			&__new-event {
				text-decoration: none;
				font-size: 11px;
				color: #fff;
				background-color: #ee4f62;
				border-radius: 40%;
				padding: 4px 8px;
				font-weight: bold;
			}
		}
	}

	&__logo-img {
		.g-hover();
		.size(207, 46);
		vertical-align: middle;
	}
}

