.fb-select-photo {
	width: 700px;
	background-color: #dae2e7;
	border-radius: 3px;
	padding: 30px 20px 40px;
	text-align: center;
	display: none;

	&__btn-add_wrap {
		margin-top: 30px;
	}

	&__title {
		color: #333333;
		font-weight: bold;
		font-size: 16px;
	}

	&__item {
		width: 114px;
		display: inline-block;
		vertical-align: top;
		margin-top: 14px;
		margin-right: 10px;
	}

	&__trim {
		display: inline-block;
		vertical-align: top;
		width: 114px;
		height: 69px;
		overflow: hidden;
	}

	&__bottom {
		width: 100%;
		height: 29px;
		text-align: left;
		line-height: 29px;
		display: block;
	}
}